body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.results {
    display: flex;
    gap: 15px;
    justify-content: space-around;
}

.left {
    text-align: center;
}

.right {
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around;
}

.round-result {
    align-self: center;
}

.final {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.restart {
    align-self: center;
}

.visibility {
    visibility: hidden;
}